.changelog-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .changelog-link:hover {
    color: #bbb;
    animation: bounce 0.5s ease forwards;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0);
    }
  }
  